.btn {
  width: 4.0625rem;
  height: 4.0625rem;
  background: radial-gradient(
    81.24% 81.24% at 50.59% 50.11%,
    rgba(255, 255, 255, 0) 0%,
    #e6e6e6 100%
  );
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.2));
  border-radius: 0.8125rem;
  color: #000;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  font-family: "Roboto";
}

.btn:nth-child(1){
  color: red;
}

.equalsBtn {
  grid-column: 3 / 5;
  background: radial-gradient(
    81.24% 81.24% at 50.59% 50.11%,
    #33c0df 0%,
    #04a4c7 100%
  );
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0.8125rem;
  font-weight: 500;
  font-size: 1rem;
}
